@{
    ViewData["Title"] = "Erro";
}
@model string

<h1 class="text-center mt-3">Algo deu errado!</h1>

<div class="text-center">
    <img src="/images/erro.png" alt="Pessoa meditando" class="img-fluid">
</div>

<h3 class="text-center">Tente novamente mais tarde.</h3>

@if (!string.IsNullOrEmpty(Model))
{
    <p class="text-center" id="msgErro">@Model</p>
}
else
{
    <p class="text-center" id="msgErro"></p>
}

<div class="text-center">
    <a href="/Home/Index" class="btn btn-primary">Voltar</a>
</div>