@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}

<div class="row my-2">
    <div class="col-12 col-md-12 col-lg-4">
        <h1 class="text-center text-green">Iniciativa Saúde da Cidade</h1>
        <p>
            Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
            at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
        <p>
            Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
            at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
    </div>

    <div class="col-12 col-md-12 col-lg-8 text-center">
        <img src="/images/pexels-ella-olsson-1640777.jpg" alt="" class="img-fluid">
    </div>

</div>

<div class="row my-2">
    <div class="col-12 col-md-12 col-lg-4 border border-success rounded py-2 my-2 bg-light">
        <div id="formulario">
            <h2>Entre em contato!</h2>
            <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

            <form id="cadastro">
                <div class="form-group row">
                    <label asp-for="Nome" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input asp-for="Nome" class="form-control" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" type="email" class="form-control" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Seu email não será divulgado nem compartilhado"
                            required />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Mensagem">Mensagem (opcional):</label>
                    <textarea asp-for="Mensagem" class="form-control"></textarea>
                </div>
                <div>
                    <input type="submit" value="Enviar" class="btn btn-success" />
                </div>
            </form>
        </div>


        <div class="h-100 d-flex align-items-center justify-content-center">
            <span id="mensagem" class="sucesso"></span>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-8 d-flex align-items-center">
        <div class="row">
            <div class="col-12 col-lg-4 text-center" data-bs-toggle="modal" data-bs-target="#modalAgenda">
                <figure class="figure" style="cursor: pointer;">
                    <img src="/images/agenda.jpg" alt="Imagem de agenda" class="img-fluid">
                    <figcaption class="figure-caption text-center text-green">Agenda</figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-4 text-center" data-bs-toggle="modal" data-bs-target="#modalApoiadores">
                <figure class="figure" style="cursor: pointer;">
                    <img src="/images/apoio.jpg" alt="Imagem de patrocinadores" class="img-fluid">
                    <figcaption class="figure-caption text-center text-green">Apoiadores</figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-4 text-center" data-bs-toggle="modal" data-bs-target="#modalDicas">
                <figure class="figure" style="cursor: pointer;">
                    <img src="/images/dicas.jpg" alt="Imagem de receita sendo preparada" class="img-fluid">
                    <figcaption class="figure-caption text-center text-green">Dicas de vida saudável</figcaption>
                </figure>
            </div>

        </div>

    </div>
</div>

@* **************************** Modal Agenda **************************** *@

<div class="modal fade" id="modalAgenda" tabindex="-1" aria-labelledby="modalAgendaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Agenda</h2>
            </div>
            <div class="modal-body">
                <h3 class="text-center">10/10/10 10:10 - Evento 1</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis optio vel
                    recusandae alias
                    soluta, ratione esse minima libero consectetur repudiandae atque voluptates corrupti. Impedit omnis
                    necessitatibus cumque perferendis, tempora aperiam autem accusamus harum laborum. Tempora commodi
                    placeat odit magnam odio.</p>
                <h3 class="text-center">10/10/10 10:10 - Evento 2</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis optio vel
                    recusandae alias
                    soluta, ratione esse minima libero consectetur repudiandae atque voluptates corrupti. Impedit omnis
                    necessitatibus cumque perferendis, tempora aperiam autem accusamus harum laborum. Tempora commodi
                    placeat odit magnam odio.</p>
                <h3 class="text-center">10/10/10 10:10 - Evento 3</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis optio vel
                    recusandae alias
                    soluta, ratione esse minima libero consectetur repudiandae atque voluptates corrupti. Impedit omnis
                    necessitatibus cumque perferendis, tempora aperiam autem accusamus harum laborum. Tempora commodi
                    placeat odit magnam odio.</p>
                <h3 class="text-center">10/10/10 10:10 - Evento 4</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis optio vel
                    recusandae alias
                    soluta, ratione esse minima libero consectetur repudiandae atque voluptates corrupti. Impedit omnis
                    necessitatibus cumque perferendis, tempora aperiam autem accusamus harum laborum. Tempora commodi
                    placeat odit magnam odio.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@* **************************** Modal Apoiadores **************************** *@
<div class="modal fade" id="modalApoiadores" tabindex="-1" aria-labelledby="modalApoiadoresLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Apoiadores</h2>
            </div>
            <div class="modal-body">
                <div class="card mb-3 pl-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/images/Empresa1.jpg" class="img-fluid rounded-start" alt="Logo da Empresa 1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Empresa 1</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                    consectetur. Eos laudantium maiores ipsam eaque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pl-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/images/Empresa1.jpg" class="img-fluid rounded-start" alt="Logo da Empresa 1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Empresa 2</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                    consectetur. Eos laudantium maiores ipsam eaque.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pl-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 m-auto">
                            <img src="/images/Empresa1.jpg" class="img-fluid rounded-start" alt="Logo da Empresa 1">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Empresa 3</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                                    consectetur. Eos laudantium maiores ipsam eaque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@* **************************** Modal Agenda **************************** *@

<div class="modal fade" id="modalDicas" tabindex="-1" aria-labelledby="modalDicasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Dicas de vida saudável</h2>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore libero cupiditate minima dignissimos
                    illum consequuntur labore, odio autem maiores assumenda soluta, itaque quae ab cumque explicabo
                    illo. Impedit laboriosam facilis, sint soluta vel suscipit possimus sed sequi asperiores saepe ipsam
                    expedita consequatur voluptatibus nisi, qui consectetur quisquam libero, quas quibusdam?</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quibusdam ipsum qui blanditiis
                    voluptatibus vero non vel laboriosam placeat, quaerat ad totam ea mollitia minima accusantium dicta
                    numquam in quidem architecto sunt dolor maxime. Amet, eaque, voluptas suscipit neque perferendis
                    dolorum quam doloremque cumque rem harum cum dolore assumenda molestias debitis dicta odio quaerat
                    repellat nobis. Reprehenderit est deserunt cupiditate.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dicta illo officiis fugit
                    tenetur dolores repudiandae quis odit perferendis similique magni ipsum, nulla repellat, distinctio
                    corrupti porro, deleniti consequatur perspiciatis culpa nihil eius sed a consequuntur ratione.
                    Eligendi totam, repellendus iure, suscipit, repudiandae cupiditate odit corporis provident inventore
                    similique eos repellat enim rem necessitatibus officia corrupti obcaecati? Corporis eius itaque
                    aliquam voluptatum dolorum dolores consectetur, necessitatibus quo delectus? Eaque nam, doloremque
                    nisi nostrum adipisci modi velit, fuga accusamus quasi, nobis asperiores sunt aliquam dolores
                    explicabo possimus itaque. Fugiat dolores vel eos? Perferendis harum quo iusto aliquam sapiente.
                    Beatae, quibusdam commodi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>